
.titulos{
    text-align: center;
    color: lightblue;
    font-family:cursive;
}
.titulos2{
    text-align: left;
    color: lightsalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
body {
    background-color:azure;
}
.divres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lista li{
    display: inline;
    font-family: fantasy;
    font-size: 15px;
}
.listaOc{
    list-style: none;
    font-size: 0px;
}
.listaOc li{
    display: inline-block;
    position: relative;
    font-family:fantasy;
    font-size: 15px;
    width: 80px;
}
.listaOc ul{
    position: absolute;
    display: none;
}
.listaOc ul li{
    display: block;
}
.listaOc li:hover ul{
    display: block;
}